{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'An error occurred'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|trans }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'An error occurred'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'An error occurred'|trans }}</h2>
    <p class="lead">{{ status_text }}</p>
</div>
{% endblock %}
