{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% set metaDescription = 'Soubory ke stažení.' %}

{% block title %}{{ 'Downloads'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'Downloads'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{{ 'Downloads'|trans }}</h2>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2020</h3>
        <a href="{{ asset('downloads/jk-2020-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2020-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2020-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2020-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2019</h3>
        <a href="{{ asset('downloads/jk-2019-web.jpg') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>JPG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2019-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2019-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2019-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2018</h3>
        <a href="{{ asset('downloads/jk-2018-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2018-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2018-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2018-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2017</h3>
        <a href="{{ asset('downloads/jk-2017-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2017-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2017-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2017-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2016</h3>
        <a href="{{ asset('downloads/jk-2016-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2016-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2016-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2016-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2015</h3>
        <a href="{{ asset('downloads/jk-2015-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2015-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2015-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2015-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2014</h3>
        <a href="{{ asset('downloads/jk-2014-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2014-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2014-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2014-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2013</h3>
        <a href="{{ asset('downloads/jk-2013-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2013-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2013-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2013-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2012</h3>
        <a href="{{ asset('downloads/jk-2012-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2012-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2012-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
        <a href="{{ asset('downloads/jk-2012-tisk-a5-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A5</a>
    </div>
    <div class="mb-4">
        <h3>{{ 'Poster of the Kings\' Ride'|trans }} 2011</h3>
        <a href="{{ asset('downloads/jk-2011-web.png') }}" class="mr-3"><i class="fa fa-file-image-o mr-2" aria-hidden="true"></i>PNG {{ 'picture'|trans }}</a>
        <a href="{{ asset('downloads/jk-2011-tisk-a2-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A2</a>
        <a href="{{ asset('downloads/jk-2011-tisk-a3-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A3</a>
        <a href="{{ asset('downloads/jk-2011-tisk-a4-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A4</a>
        <a href="{{ asset('downloads/jk-2011-tisk-a5-3-mm-spad.pdf') }}" class="mr-3"><i class="fa fa-file-o mr-2" aria-hidden="true"></i>PDF {{ 'document for print – format'|trans }} A5</a>
    </div>
</div>
{% endblock %}
