{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'Guest'|transchoice(1) }} — {{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }} {{ kingsRide.year }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }} {{ kingsRide.year }}</span>
<span class="breadcrumb-item active">{{ 'Guest'|transchoice(1) }}</span>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="mb-3">{{ 'Guest'|transchoice(1) }}</h2>
    <h3>{{ kingsRide.guest.name }}</h3>
    {{ kingsRide.guest.description|raw }}
    {% if kingsRide.guest.photo %}
    <img src="{{ asset(kingsRide.guest.photo.webPath) }}" alt="{{ kingsRide.guest.photo.description }}" class="img-fluid">
    {% endif %}
</div>
{% endblock %}
