{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'd-flex flex-column bg-inverse' %}

{% block title %}{{ 'The Kings\' Ride'|transchoice(1) }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}
{% set metaDescription = 'Tradiční národopisná slavnost Jízda králů v Doloplazích je jedinou hanáckou jízdou králů v České republice.' %}

{% block content %}
    <section class="flex-auto bg-primary bg-horseman">
        <div class="container py-3 text-center text-white">
            <p class="display-3 font-forte mb-5">
                {{ 'The Kings\' Ride'|transchoice(1) }}
            </p>
            <h2 class="display-4 font-forte mb-5">
                {% if kingsRide.startDate|date('m') == kingsRide.endDate|date('m') %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% else %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM' ) }}<br>{{ 'and'|trans }} {{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% endif %}
                <br>
                {{ 'Doloplazy (near Olomouc)'|trans }}
            </h2>
            {% if kingsRide.king %}
            <p class="display-4 font-forte">{{ 'King'|transchoice(1) }}: {{ kingsRide.king.fullName }}</p>
            {% endif %}
            <div class="lead">
                {{ kingsRide.introduction|raw }}
            </div>
            <p class="logos d-flex flex-wrap justify-content-center align-items-center">
                {% for sponsor in kingsRide.sponsors if sponsor.sponsorKind.id == 1 %}
                {{ source('@documents/' ~ sponsor.logo.name) }}
                {% endfor %}
            </p>
        </div>
    </section>
    {% if kingsRide.year == activeYear %}
    <section class="pt-5 mb-3 bg-inverse text-white">
        <div class="container text-center">
            <h2 class="mb-4">{{ 'Video of the recent Kings\' Ride'|trans }} 2017</h2>
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fSLkip-7Kw0" allowfullscreen></iframe>
            </div>
            <a href="{{ path('videos') }}" class="btn btn-lg btn-outline-white">{{ 'More videos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="pt-5 bg-inverse text-white">
        <div class="container text-center mb-5">
            <h2 class="mb-4">{{ 'Photos of the recent Kings\' Ride'|trans }} 2018</h2>
            <a href="https://photos.app.goo.gl/YyVZyfgkswDtTVHy5" target="_blank" class="d-block hover-overlay-container mb-4">
                <img class="img-fluid" src="https://lh3.googleusercontent.com/qf7zq4TjeNniGXUpkCCRhz7MxXJ5en22Y4mvfAxG0ad394TPrAyXHYCWY1OH84Pf1kxFEjpH_H7E_RXnxMnJCtpYUiGdknCXgOhOTFYVAn2YiYkAz3G12BRVgwVdyTqw97GaS8uYzEVui8BHDUjQobdW9PCNgBb-SMZjHu1R-UzGjBINteUgBhS43T_ehEdUi-MsJGr71110Bof-babSi57O0SdIvR_prdwFq1zrW7qpKMX1iO7Ci6ngRR0HkKmt33CYwyXxLuk-HTJbDU8hcY7HyAbyq4kzzYTj-g4RzUi0xBjsRxuP_PSS_RN6vwFhjzbYkIoPMthCD4cCSysSQbSWyB_pTlduVmVjGOZl-g2n0O8i-aFYQc_GMNbCegADCSbm67iUXeihC-Jnp6MFguLBc2sHG37Z9uI8Yo7EnnyjTYRDehLZU8FOmvvOmGBHmObs_zxR5A2moeF2DjwMb5lNPvE4nwMYLZfuliwCzIlKcQzYgz2t_d44gWN9FEmrgifEmQtoxFRo896ZU0os3fLuz7I3OR94KgDIM4rZV12ysPw_uUQXjzDOLgUc-sLVKsoWX-aii9fdq8mFPXavLnIbIOZW6kD6OtwU9KzTl92NT0UwenSvL59FY8oDfDNMEW6wiLJJEpHMVSq_rXkwYjIf-TJKaL2F=w1920-h1275-no" alt="{{ 'The Kings\' Ride'|transchoice(1) }} 2018">
                <div class="hover-overlay-content">
                    <span class="h3">{{ 'Click to open album'|trans }}<i class="fa fa-camera ml-2" aria-hidden="true"></i></span>
                </div>
            </a>
            <a href="{{ path('photos') }}" class="btn btn-lg btn-outline-white">{{ 'More photos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
        <hr>
    </section>
    {% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .logos > svg {
        height: 70px;
        margin-right: 16px;
        margin-right: 1rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .logos > svg:first-child {
        height: 110px;
    }

    path.text-logo,
    .text-logo path {
        fill: #fff;
    }
</style>
{% endblock %}
