{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'bg-primary bg-horseman' %}

{% block title %}{{ 'The Kings\' Ride'|transchoice(1) }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}

{% block content %}
    <div class="container py-3 mb-5 text-center text-white">
        <p class="lead mb-5">
            {{ kingsRide.introduction }}
        </p>
        <p class="display-3 font-forte mb-5">
            {{ 'The Kings\' Ride'|transchoice(1) }}
        </p>
        <h2 class="display-4 font-forte">
            {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}<br>
            {{ 'Doloplazy (near Olomouc)'|trans }}
        </h2>
    </div>
{% endblock %}
