{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'bg-primary bg-horseman' %}
{% set hasFooter = false %}

{% block title %}{{ 'The Kings\' Ride'|transchoice(1) }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}
{% set metaDescription = 'Tradiční národopisná slavnost Jízda králů v Doloplazích je jedinou hanáckou jízdou králů v České republice.' %}

{% block content %}
    <div class="container py-3 mb-5 text-center text-white">
        <p class="display-3 font-forte mb-5">
            {{ 'The Kings\' Ride'|transchoice(1) }}
        </p>
        <h2 class="display-4 font-forte mb-5">
            {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}<br>
            {{ 'Doloplazy (near Olomouc)'|trans }}
        </h2>
        {% if kingsRide.king %}
        <p class="display-4 font-forte">{{ 'King'|transchoice(1) }}: {{ kingsRide.king.fullName }}</p>
        {% endif %}
        <p class="lead">
            {{ kingsRide.introduction }}
        </p>
        <p class="logos d-flex flex-wrap justify-content-center align-items-center">
            {% for sponsor in kingsRide.sponsors if sponsor.sponsorKind.id == 1 %}
            {{ source('@documents/' ~ sponsor.logo.name) }}
            {% endfor %}
        </p>
    </div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .logos > svg {
        height: 70px;
        margin-right: 16px;
        margin-right: 1rem;
    }

    .logos > svg:first-child {
        height: 110px;
    }

    path.text-logo,
    .text-logo path {
        fill: #fff;
    }
</style>
{% endblock %}
