{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'bg-primary bg-horseman' %}

{% block title %}{{ 'The Kings\' Ride'|trans }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}

{% block content %}
    <div class="container py-3 mb-5 text-center text-white">
        <p class="lead mb-5">
            Hanácký národopisný soubor <a href="https://olesnica.cz/" class="text-white">Olešnica Doloplazy</a> pořádá pod záštitou ministra zemědělství Mariana Jurečky za finanční podpory Olomouckého kraje a obce Doloplazy tradiční národopisnou slavnost
        </p>
        <p class="display-3 font-forte mb-5">
            {{ 'The Kings\' Ride'|trans }}
        </p>
        <p class="display-4 font-forte">
            {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}<br>
            {{ 'Doloplazy (near Olomouc)'|trans }}
        </p>
    </div>
{% endblock %}
