{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'd-flex flex-column bg-inverse' %}

{% block title %}{{ 'The Kings\' Ride'|transchoice(1) }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}
{% set metaDescription = 'Tradiční národopisná slavnost Jízda králů v Doloplazích je jedinou hanáckou jízdou králů v České republice.' %}

{% block content %}
    <section class="flex-auto pt-4 pt-sm-5 pb-5 bg-primary bg-horseman" style="min-height:60vh">
        <div class="container text-center text-white">
            <p class="display-3 font-forte mb-3 mb-sm-5">
                {{ 'The Kings\' Ride'|transchoice(1) }}
            </p>
            <h2 class="display-4 font-forte mb-3 mb-sm-5">
                {% if kingsRide.startDate|date('m') == kingsRide.endDate|date('m') %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% else %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM' ) }}<br>{{ 'and'|trans }} {{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% endif %}
                <br>
                {{ 'Doloplazy (near Olomouc)'|trans }}
            </h2>
            {% if kingsRide.king %}
            <p class="display-4 font-forte">{{ 'King'|transchoice(1) }}: {{ kingsRide.king.fullName }}</p>
            {% endif %}
            <div class="lead">
                {{ kingsRide.introduction|raw }}
            </div>
            <p class="logos d-flex flex-wrap justify-content-center align-items-center">
                {% for sponsor in kingsRide.sponsors if sponsor.sponsorKind.id == 1 %}
                {{ source('@documents/' ~ sponsor.logo.name) }}
                {% endfor %}
            </p>
            <a href="{{ path('program') }}" class="btn btn-lg btn-outline-white">{{ 'Program'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    {% if kingsRide.year == activeYear %}
    <section class="pt-5 mb-3 bg-inverse text-white">
        <div class="container text-center">
            <h2 class="mb-4">{{ 'Video of the recent Kings\' Ride'|trans }} 2019</h2>
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t6PMML6Dc14" allowfullscreen></iframe>
            </div>
            <a href="{{ path('videos') }}" class="btn btn-lg btn-outline-white">{{ 'More videos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="pt-5 bg-inverse text-white">
        <div class="container text-center mb-5">
            <h2 class="mb-4">{{ 'Photos of the recent Kings\' Ride'|trans }} 2020</h2>
            <a href="https://photos.app.goo.gl/Qv7k1BD9it3kYpgB9" target="_blank" class="d-block hover-overlay-container mb-4">
                <img class="img-fluid" src="https://lh3.googleusercontent.com/pw/ACtC-3cV3_d1HRqW4ULzecE36KUShsuUCo_Z516zEZj_sJ-RSlPYHRnGX2-fmI35ET7Wem2u3sNVI77haQxL_Kl3JJ0h3jSrGZJ1cYsit3XyXzCR6B4t8XZaqXnjWW0DH68YzVF8m_3XKzawUtPCj8LbBIG9=w1920-h1275-no?authuser=0" alt="{{ 'The Kings\' Ride'|transchoice(1) }} 2019">
                <div class="hover-overlay-content">
                    <span class="h3">{{ 'Click to open album'|trans }}<i class="fa fa-camera ml-2" aria-hidden="true"></i></span>
                </div>
            </a>
            <a href="{{ path('photos') }}" class="btn btn-lg btn-outline-white">{{ 'More photos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .logos > svg {
        height: 70px;
        margin-right: 16px;
        margin-right: 1rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .logos > svg:first-child {
        height: 110px;
    }

    path.text-logo,
    .text-logo path {
        fill: #fff;
    }
</style>
{% endblock %}
