{% extends 'default.html.twig' %}

{% set navbarClass = 'navbar-border-bottom' %}
{% set mainClass = 'd-flex flex-column bg-inverse' %}

{% block title %}{{ 'The Kings\' Ride'|transchoice(1) }} {{ kingsRide.year }} — {{ 'Doloplazy (near Olomouc)'|trans }}{% endblock %}
{% set metaDescription = 'Tradiční národopisná slavnost Jízda králů v Doloplazích je jedinou hanáckou jízdou králů v České republice.' %}

{% block content %}
    <section class="flex-auto bg-primary bg-horseman" style="min-height:60vh">
        <div class="container py-3 text-center text-white">
            <p class="display-3 font-forte mb-5">
                {{ 'The Kings\' Ride'|transchoice(1) }}
            </p>
            <h2 class="display-4 font-forte mb-5">
                {% if kingsRide.startDate|date('m') == kingsRide.endDate|date('m') %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd.' ) }}–{{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% else %}
                    {{ kingsRide.startDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM' ) }}<br>{{ 'and'|trans }} {{ kingsRide.endDate|localizeddate('none', 'none', app.request.locale, null, 'd. MMMM YYYY' ) }}
                {% endif %}
                <br>
                {{ 'Doloplazy (near Olomouc)'|trans }}
            </h2>
            {% if kingsRide.king %}
            <p class="display-4 font-forte">{{ 'King'|transchoice(1) }}: {{ kingsRide.king.fullName }}</p>
            {% endif %}
            <div class="lead">
                {{ kingsRide.introduction|raw }}
            </div>
            <p class="logos d-flex flex-wrap justify-content-center align-items-center">
                {% for sponsor in kingsRide.sponsors if sponsor.sponsorKind.id == 1 %}
                {{ source('@documents/' ~ sponsor.logo.name) }}
                {% endfor %}
            </p>
        </div>
    </section>
    {% if kingsRide.year == activeYear %}
    <section class="pt-5 mb-3 bg-inverse text-white">
        <div class="container text-center">
            <h2 class="mb-4">{{ 'Video of the recent Kings\' Ride'|trans }} 2019</h2>
            <div class="embed-responsive embed-responsive-16by9 mb-4">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t6PMML6Dc14" allowfullscreen></iframe>
            </div>
            <a href="{{ path('videos') }}" class="btn btn-lg btn-outline-white">{{ 'More videos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    <section class="pt-5 bg-inverse text-white">
        <div class="container text-center mb-5">
            <h2 class="mb-4">{{ 'Photos of the recent Kings\' Ride'|trans }} 2019</h2>
            <a href="https://photos.app.goo.gl/ue2PAaDrzbgGhCnR9" target="_blank" class="d-block hover-overlay-container mb-4">
                <img class="img-fluid" src="https://lh3.googleusercontent.com/1NMXkHIQu0d_El14SGbIHhHsqScm7L5yjD5MPBD9wFCgk5IwU8qHK_Rrl6T0ls0n7SRuJ7w_qXkr3xyxwr2E8oonkKZCSudR4ri-k4RtPXxq3sha88GQJGfFk5f5MwK6KtdDaI5k1XkrceNkMcn5qPbnzHvI5KmJllnzdmsAC1imSVh5SQaVKvQ8PJXnM-idwmkrmemOehsLLNF-1SxKoTVpuKRCMBqyZpgmvPKpfC4fR1tr-UBUm47DUbwnvR7GvR-zsn-QpNXvZqZWer1AsX1znXUmaDmbIsJdb0zA1gvrz4Wqdc1DszulBmzyiKTOX4U8gZCbnWu5JcisUP4rRsI4x5MrUPD2MgZZOfel2tXHW2yfIGU10I_2Mwhq97jnPbFNDqzHcLsamhyNUrPE9qOjEuC9YvqVx2VRz7L1tar1gepvZ9lvAPIM4rLD23W0HhCiYMH9F_mkh15bRvjS1QrS8cROabr7zbsxhD2kL0rITWqWiTjROxj7lhqOBViR_siI5Y8c36f6UbV4qM_rRMMmA0U9AuKEaPafOHNPc2TgWEa476jItDiSfPF7Ni1HribD0juapCm8GNVjeZhih-4fFzO8eo26m19jfzqMRVhGUdt58IW9FmXH2Ji1EdEN4E25nWg0SLzImizwblLXxoybqe7cjQTDmH3_okNh77SHf5ZxsFIARWhr4fgvtEILYmNR0ymOoQ1crz-zdXGMYdd-=w1920-h1275-no" alt="{{ 'The Kings\' Ride'|transchoice(1) }} 2019">
                <div class="hover-overlay-content">
                    <span class="h3">{{ 'Click to open album'|trans }}<i class="fa fa-camera ml-2" aria-hidden="true"></i></span>
                </div>
            </a>
            <a href="{{ path('photos') }}" class="btn btn-lg btn-outline-white">{{ 'More photos'|trans }}<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </div>
    </section>
    {% endif %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .logos > svg {
        height: 70px;
        margin-right: 16px;
        margin-right: 1rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
    }

    .logos > svg:first-child {
        height: 110px;
    }

    path.text-logo,
    .text-logo path {
        fill: #fff;
    }
</style>
{% endblock %}
