{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'Organizer of the Kings\' Ride'|trans }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'Organizer of the Kings\' Ride'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>{{ 'Organizer of the Kings\' Ride'|trans }}</h2>
    <address class="lead">
        Hanácký národopisný soubor Olešnica Doloplazy, z. s.<br>
        Doloplazy 9<br>
        78356 Doloplazy<br>
        {{ 'Czech Republic'|trans }}<br>
    </address>
    <p class="lead">
        {{ 'Identification number'|trans }}: 28554043
    </p>
    <p class="lead">
        Email: <a href="mailto:olesnica@olesnica.cz">olesnica@olesnica.cz</a><br>
        {{ 'Phone'|trans }}: <a href="tel:+420777563233">+420 777 563 233</a><br>
        <a href="https://olesnica.cz">www.olesnica.cz</a>
    </p>
</div>
{% endblock %}
