{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% block title %}{{ 'Performers'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|trans }} {{ kingsRide.year }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }} {{ kingsRide.year }}</span>
<span class="breadcrumb-item active">{{ 'Performers'|trans }}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{{ 'Performers'|trans }}</h2>
    {% for performer in kingsRide.performers %}
        <div class="mb-5">
            <h3>{{ performer.name }}</h3>
            {{ performer.description|raw }}
            {% if performer.photo %}
            <img src="{{ asset(performer.photo.webPath) }}" alt="{{ performer.photo.description }}" class="img-fluid">
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
