{% extends 'default.html.twig' %}

{% set hasBreadcrumb = true %}

{% set metaDescription = 'Výsledky vyhledávání.' %}

{% block pageTitle %}{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block title %}{{ app.request.get('q') ? app.request.get('q') : 'Search'|trans }} — {{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ 'The Kings\' Ride in Doloplazy'|transchoice(1) }}</span>
<span class="breadcrumb-item active">{{ 'Search'|trans }}{% if app.request.get('q') %}: {{ app.request.get('q') }}{% endif %}</span>
{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ 'Search'|trans }}{% if app.request.get('q') %} „{{ app.request.get('q') }}”{% endif %}</h2>
</div>
{% endblock %}
